@import '../../styles/variables.scss';
@import '../../styles/typography.scss';

.small {
  font-size: 0.89rem;
  height: 2rem;
  padding: 0 1rem;
}
.medium {
  font-size: 1rem;
  height: 2.5rem;
  padding: 0 1.5rem;
}
.large {
  font-size: 1.1rem;
  height: 3rem;
}

.primaryButton {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%);
  color: var(--color-white);
  .icon > svg > path {
    fill: var(--color-white);
  }
  &.red {
    background-color: var(--color-swatch-1);
    border-color: darken(#d11947, 10%);
    &:hover,
    &:active,
    &:focus {
      background-color: lighten(#d11947, 10%);
      color: var(--color-white);
    }
  }
  &.blue {
    background-color: var(--color-link-blue);
    border-color: darken(#135cb0, 10%);
    &:hover,
    &:active,
    &:focus {
      background-color: lighten(#135cb0, 10%);
      color: var(--color-white);
    }
  }
  &.lightGreen {
    background-color: var(--color-swatch-6);
    border-color: darken(#c4d82e, 10%);
    color: var(--color-black);
    &:hover,
    &:active,
    &:focus {
      background-color: lighten(#c4d82e, 10%);
      color: var(--color-black);
    }
  }
  &.gold {
    background-color: var(--color-swatch-7);
    border-color: darken(#ffc32c, 10%);
    &:hover,
    &:active,
    &:focus {
      background-color: lighten(#ffc32c, 10%);
      color: var(--color-white);
    }
  }
  &.black {
    background-color: var(--color-black);
    border-color: var(--color-black);
    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }
  &.white {
    background-color: var(--color-white);
    border-color: var(--color-white);
    color: var(--color-black);
    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-whitw);
      color: var(--color-black);
    }
  }
}

.secondaryButton {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%);
  &.red {
    border-color: var(--color-swatch-1);
    color: var(--color-swatch-1);
    &:hover,
    &:active,
    &:focus {
      background-color: lighten(#d11947, 10%);
      color: var(--color-white);
    }
  }
  &.blue {
    border-color: var(--color-link-blue);
    color: var(--color-link-blue);
    &:hover,
    &:active,
    &:focus {
      background-color: lighten(#135cb0, 10%);
      color: var(--color-white);
    }
  }
  &.lightGreen {
    border-color: var(--color-swatch-6);
    color: var(--color-swatch-6);
    &:hover,
    &:active,
    &:focus {
      background-color: lighten(#c4d82e, 10%);
      color: var(--color-white);
    }
  }
  &.gold {
    border-color: var(--color-swatch-7);
    color: var(--color-swatch-7);
    &:hover,
    &:active,
    &:focus {
      background-color: lighten(#ffc32c, 10%);
      color: var(--color-white);
    }
  }
  &.black {
    border-color: var(--color-black);
    color: var(--color-black);
    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }
  &.white {
    border-color: var(--color-white);
    color: var(--color-black);
    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-white);
    }
  }
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.tertiaryButton {
  border: none;
  &.red {
    color: var(--color-swatch-1);
    .icon > svg > path {
      fill: var(--color-swatch-1);
    }
    &:hover {
      color: var(--color-link-blue);
      .icon > svg > path {
        fill: var(--color-link-blue);
      }
    }
  }
  &.blue {
    color: var(--color-link-blue);
    .icon > svg > path {
      fill: var(--color-link-blue);
    }
    &:hover {
      color: var(--color-swatch-1);
      .icon > svg > path {
        fill: var(--color-swatch-1);
      }
    }
  }
  &.black {
    color: var(--color-black);
  }
  &.white {
    color: var(--color-white);
    .icon > svg > path {
      fill: var(--color-white);
    }
  }
}

.textButton {
  border: none;
  color: var(--color-link-blue);
  font-weight: bold;
  padding: 0;
  text-decoration: underline;
  &:visited {
    color: var(--color-swatch-3);
  }
  &:focus:not(:active) {
    box-shadow: none;
  }
}

.bottom {
  flex-direction: column-reverse;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.top {
  flex-direction: column;
}

.label {
  margin: 0 0.2rem;
}
